@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brainsmen</h1>
    <h3 class="lead">Planejamento visual estratégico.</h3>
    <p><a>@Html.ActionLink("Saiba mais", "About", "Home") &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Serviço ou produto</h2>
        <p>
            Aqui pode ficar algumas imagens de alguns serviços ou pode fica um texto com um link, que vai levar o usuário para algum produto ou serviço.
        </p>
        <p><a>@Html.ActionLink("Sobre", "About", "Home") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="">veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="">Veja mais &raquo;</a></p>
    </div>
</div>