
@{
    ViewBag.Title = "Portifolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portifólio</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div>
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome do projeto</h5>
                <p class="card-text">Sobre o projeto</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
    </div>
</div>
